@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  margin: auto;
  padding: 1rem;
}

h1 {
  padding: 1rem;
  color: cyan;
}

.nav {
  padding: 1rem;
}

.list-of-things {
  padding: 0.5rem;
  margin: 0.75rem;
  font-size: medium;
  background-color: #e11d48;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  border-color: crimson;
  font-weight: bold;
}

hr {
  color: aquamarine;
}

.details {
  list-style-type: none;
  width: 70%;
  margin: auto;
}

.details li {
  font-weight: bold;
  padding: 0.75rem;
  border: 1px solid;
  border-radius: 2.5rem;
  margin: 1rem auto;
  background-color: #e9d5ff;
  color: black;
  max-width: 60%;
}

span {
  color: yellow;
}
